.banner-one {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.flat-one {
  margin-top: 50px;
  text-align: center;
  p {
    padding: 40px;
  }
}

.img-circle {
  width: 200px;
}
